
.graph-container .node .button {
  cursor: pointer;
}

.graph-container .node text {
  font-size: 1.2em;
  transition: font-size ease-in-out 0.2s;
}

.graph-container .node circle {
  fill: #fff;
  stroke: #153ba3;
  stroke-width: 3px;
  transition: r ease-in-out 0.2s;
}

.graph-container .node:hover {
  cursor: pointer;
}

/* .graph-container .node:hover text {
  font-size: 1em;
} */

.graph-container .node:hover circle {
  r: 12;
}

.graph-container .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  stroke: #6ba4dc;
}

.graph-container marker.upsale_marker {
  fill: #6ba4dc;
}

.graph-container marker.downsale_marker {
  fill: #6ba4dc;
}

.graph-container .area .column-title {
  font-size: 1em;
  color: red;
}
